<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BMIApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>316031A11D8FE7300023AA0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>316031B51D8FE7300023AA0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>316031C01D8FE7310023AA0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
